:root {
  /* Tamaños de font */
  --text: 12px;
  --discounts: 16px;
  --price: 18px;
  --headers: 24px;

  /* Paleta de colores */
  --yellow: #eac926;
  --white: #ffffff;
  --lightgrey: #ebebeb;
  --blue: #03264c;
  --green: #39b54a;
  --lightblue: #1259c3;
  --darkgrey: #666666;
  --black: #000000;
}

/* Header */

header {
  background-color: var(--yellow);
  background-size: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: var(--yellow);
  top: 0;
  padding: 5px;
}
.main-header-top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 15px;
  margin: auto;
  padding-top: 15px;
  position: relative;
}

img {
  width: 100%;
}
.logo {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.search-bar {
  position: relative;
  width: 100%;
}
.search-bar-busqueda {
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
}
.search-bar input {
  padding: 7px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 100%;
}
.fa-solid.fa-magnifying-glass {
  position: absolute;
  border: none;
  background-color: var(--lightgrey);
  right: 3px;
  top: 11px;
}

.installments {
  text-align: center;
  position: absolute;
  top: 90%;
  width: 100%;
  right: 0%;
  font-weight: 400;
  font-size: 14px;
}

.main-navbar {
  width: 50px;
  margin-bottom: 10px;
}
.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navbar a {
  text-decoration: none;
  color: var(--black);
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.list-one {
  margin-bottom: 15px;
  margin-top: 15px;
}
.list-two i {
  padding-left: 2px;
}

.burger-menu {
  background-color: var(--lightblue);
  color: var(--white);
  display: flex; /* Hace que el elemento sea un bloque */
  margin: auto; /* Centra el bloque horizontalmente */
  width: 10px; /*  ancho  */
  height: 10px;
  border-radius: 5px; /* Hace que los bordes sean redondeados */
  padding: 18px; /*afecta el tamaño total de un elemento*/
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 10px;
}
.banner {
  display: block;
}

/* Main */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--lightgrey);
  font-size: var(--text);
}

h2 {
  font-size: var(--headers);
}
.precios {
  font-size: var(--text);
  font-weight: 400;
}
.descuentos {
  font-size: var(--text);
  font-weight: 300;
}
h3 {
  font-size: var(--text);
}
ul {
  list-style: none;
  padding: 0;
}

main {
  width: 90%;
  margin: auto;
}

.titulo-seccion {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--darkgrey);
  font-weight: 500;
  font-size: var(--headers);
}

/*Estilos de los productos*/

article {
  background-color: var(--white);
  width: 100%;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.content-box {
  border-top: 1px solid var(--lightgrey);
  padding: 15px;
}
.content-box i {
  border: 1px solid#42c828;
  border-radius: 30px;
  padding: 10px 8px;
  margin-top: 10px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.price-discount {
  display: flex;
  justify-content: flex-start;
}
.precios {
  width: 30%;
}

.descuentos {
  width: 70%;
  justify-content: flex-end;
  flex-grow: 1;
}
.precios,
.descuentos {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: var(--discounts);
}

.descuentos {
  color: #42c828;
  font-size: var(--discounts);
  padding-bottom: 10px;
}

.content-box h3 {
  margin-top: 15px;
  padding-bottom: 10px;
  color: var(--darkgrey);
  font-weight: 400;
  display: block;
  font-size: var(--discounts);
}

.content-box > i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
.content-box {
  position: relative;
}

h3 {
  display: none;
}

.list-one {
  display: none;
}

.list-two {
  display: none;
}

/* Footer */

footer {
  margin-top: 20px;
}

.bgWhite {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.theBenefits {
  padding: 50px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  padding: 50px 20px 20px 20px;
  font-size: 12px;
  color: var(--darkgrey);
}

.fa-solid.fa-credit-card {
  color: var(--lightblue);
  display: flex;
  font-size: 2em;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.title-footer {
  font-family: 'Roboto', sans-serif;
  font-size: var(--discounts);
  color: var(--darkgrey);
  display: flex;
  justify-content: center;
  text-align: center;
}
.paragraph-footer {
  font-family: 'Roboto', sans-serif;
  font-size: var(--text);
  color: var(--darkgrey);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
}

.fa-solid.fa-gift {
  color: var(--lightblue);
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.fa-solid.fa-user-shield {
  color: var(--lightblue);
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.theBenefits i:hover {
  color: #0022aa;
}

.content-box h3 {
  display: none;
}

/* Tablet*/

@media (min-width: 768px) {
  .content-box h3 {
    display: block;
  }

  .main-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .list-one {
    margin-right: 20px; /* Añade un margen a la derecha de la primera lista */
    gap: 15px; /* deja un espacio X entre cada elemento */
  }

  .list-two {
    margin-left: 20px; /* Añade un margen a la izquierda de la segunda lista */
    gap: 15px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 10px 30px;
  }
  .main-navbar ul {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-header-top-bar {
    width: 100%;
    gap: 0px;
    padding: 20px 20px 0 20px;
  }
  .logo {
    width: 50%;
  }
  .search-bar {
    width: 30%;
  }
  .installments {
    font-size: var(--discounts);
    font-weight: 900px;
    margin-bottom: 10px;
    position: static;
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
    margin: 5px;
  }

  .burger-menu {
    display: none;
  }

  .preferences {
    width: 500px;
    display: inline-block;
  }
  .tapToReset {
    padding: 6px;
    font-size: var(--font-18);
    width: 500px;
    margin-bottom: 10px;
  }
}

/* desktop */

@media (min-width: 1024px) {
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
  }
  .installments {
    text-align: center;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 5px;
  }

  article {
    width: 20%;
    justify-content: space-between;
    margin: 5px;
  }
  .content-box h3 {
    display: none;
  }

  .precios {
    margin-right: 25px;
  }

  .footer-icons {
    display: flex;
  }
  .copyright {
    text-align: center;
  }
  section {
    display: flex;
    align-items: flex-start;
  }
  article:hover {
    scale: 110%;
    box-shadow: 0px 0px 30px rgb(1, 1, 1);
    .content-box h3 {
      display: block;
    }
  }
  .content-box i {
    transition: transform 0.3s ease;
  }
  .content-box i:hover {
    transform: rotate(-90deg);
  }
  .tapToReset {
    transition-duration: 500ms;
    transition-timing-function: linear;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 10px;
  }
  .installments {
    max-width: none;
    font-size: 20px;
    font-weight: 400px;
    margin: 0;
  }
  .main-header-top-bar {
    align-items: center;
  }
  .main-navbar {
    margin-top: 50px;
  }
  .main-navbar li {
    margin: 0 10px;
  }
  .main-navbar a {
    font-size: 19px;
  }
}

/* Estilos de Register */

.registerForm {
  padding: 20px 15px;
}
.inputBox {
  border: none;
  display: flex;
  border-radius: 10px;
  width: 70vw;
  padding: 10px;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 2px;
  height: 30px;
  position: relative;
}

.date-birth {
  font-weight: bold;
  font-size: 16px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Estilos de comprador-vendedor*/
.userProfile {
  font-size: 16px;
  margin-bottom: 20px;
  width: 250px;
}
.userProfile input {
  cursor: pointer;
}
.userProfile p {
  cursor: pointer;
}

.prof {
  font-weight: bold;
  font-size: 16px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.personBuyerSeller {
  display: inline-block;
  margin-right: 5px;
}

/* Estilos de intereses*/
.preferences {
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
}
.preferences label {
  cursor: pointer;
}
.preferences input {
  cursor: pointer;
}
.userInterest {
  font-weight: bold;
  font-size: 18px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.preferences label {
  cursor: pointer;
  margin-bottom: 10px;
}
.preferences input {
  cursor: pointer;
  margin-bottom: 10px;
}

/* recuadro foto de perfil*/
.picture label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  width: 250px;
  height: 45px;
  background-color: var(--white);
  cursor: pointer;
  font-size: 14px;
}
.picture input[type='file'] {
  opacity: 0;
  display: block;
  width: 250px;
  height: 20px;
}
.pass input {
  border: none;
  display: flex;
  border-radius: 10px;
  width: 70vw;
  padding: 10px;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 2px;
  height: 30px;
  position: relative;
}

.tapToRegister {
  padding: 10px;
  background-color: var(--lightblue);
  font-size: var(--font-16);
  color: var(--white);
  border: none;
  font-weight: bold;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  margin-top: 30px;
}
.tapToRegister:hover {
  background-color: #0022aa;
}

.tapToReset {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--lightblue);
  font-size: var(--font-16);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
}
.tapToReset:hover {
  background-color: #0022aa;
}

/* Estilos de login*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user input {
  border: none;
  display: flex;
  border-radius: 10px;
  width: 70vw;
  padding: 10px;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 2px;
  height: 30px;
  position: relative;
  font-size: 16px;
}

.contraseña {
  font-size: 16px;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 20px;
  padding: 5px;
  width: 250px;
}
div {
  display: block;
}

.tapToLogin {
  padding: 10px;
  background-color: var(--lightblue);
  font-size: 16px;
  color: var(--white);
  border: none;
  font-weight: bold;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 40px;
}

.tapToLogin:hover {
  background-color: #0022aa;
}
.bgWhite-login {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
